---
import SectionIntro from "../components/SectionIntro.astro";
import Bullets from "../components/Bullets.astro";

const { keywordText, title, text, backgroundColor, textColor, direction, beforeLeft, beforeRight, afterLeft, afterRight } = Astro.props;
---

<section>
    <div>
        <img src="/images/expectations.png" alt="small group of people talking">
    </div>
    <div>
        <SectionIntro keywordText={keywordText} title={title} text={text} backgroundColor={backgroundColor} textColor={textColor}/>
        <Bullets bulletOne="Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day." bulletTwo="Capitalize on low hanging fruit to identify a ballpark value added activity to beta test override the digital."/>
    </div>
</section>

<style define:vars={{ direction, beforeLeft, beforeRight, afterLeft, afterRight}}>
    @layer components {
        section {
            display: flex;
            flex-direction: var(--direction);
            gap: var(--space-4xl);

            margin: var(--space-3xl-7xl) 0;

            div:has(img) {
                position: relative;
                z-index: 1;
                --image-offset: var(--space-4xl);
                margin-top: var(--image-offset);

                &::before {
                    --before-offset: calc(var(--image-offset) / -1);
                    --square-count: 12;
                    --square-size: var(--step-4);
                    --_square-size: var(--square-size, 1rem);
                    --_square-half: calc(var(--square-size) / 2);
                    --_square-sum: calc(var(--square-count) * var(--square-size));
                    content: '';
                    position: absolute;
                    top: var(--before-offset);
                    left: var(--beforeLeft);
                    right: var(--beforeRight);
                    inline-size: calc( round( var(--_square-sum), var(--_square-size) ) - var(--_square-half) );
                    aspect-ratio: 1;
                    background: linear-gradient(135deg, #BE965D, #976F40, #C99B61, #F0BE7B , #FFCB85, #EEBC79, #C0935B, #976F40) 0 0 / 100% 100%;
                    mask:
                    var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size),
                    var(--square-pattern) var(--_square-half) var(--_square-half) / var(--_square-size) var(--_square-size);
                    z-index: -2;
                }
  
                &::after {
                    --after-offset: calc(var(--image-offset) / -2);
                    content: '';
                    position: absolute;
                    top: var(--after-offset);
                    left: var(--afterLeft);
                    right: var(--afterRight);
                    background: var(--primary-2);
                    width: 11.44rem;
                    height: 10.25rem;
                    border-radius: var(--border-card);
                    z-index: -1; 
                }
                img {
                    border-radius: var(--border-card);           
                }
            }
        }

        @media (width <= 745px) {
            section {
                flex-direction: column;
            }
        }
    }
</style>