---
import Keywords from "../components/Keywords.astro";
const { keywordText, title, text, backgroundColor, textColor } = Astro.props;
---

<div>
    <Keywords keywordText={keywordText} backgroundColor={backgroundColor} textColor={textColor}/>
    <h2>{title}</h2>
    <p>{text}</p>
</div>

<style>
    @layer components {
       div{
        max-width: 45ch;
        padding-bottom: var(--space-m);

        h2 {
            padding: var(--space-xs) 0;
        }
       }

       @media (width <= 850px) {
            div{
            max-width: 65ch;
            }
        }
        
    }
</style>